*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fce138;
  --secondary-color: #024f79;
  --tertiary-color: #39a6b2;
}

/* header styles start */
header {
  display: flex; 
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  justify-content: space-between; 
  flex-wrap: wrap; 
  position: -webkit-sticky; /* makes sticky header for Safari */
  position: sticky;
  top: 0;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;   /* keeps header at forefront when scrolling through page */
}

header a {  
  text-decoration: none;
  color: var(--primary-color);
}

header h1 {   /* "RUN BUDDY in header */
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;  
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
}

header nav {   /* menu in header */
  margin: 7px 0;
}

header nav ul {  /* placement of menu in header */
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {  /* formatting of menu in header */
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {  /* highlights the title with new color when hovering */
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}
/* header styles end */  

body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
}

section {
  padding: 60px;
}

/* Hero Style Start */
.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}

.hero-cta {  /*CTA (Call to Action) text */
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color:#fff;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {   /* Start Building Habits heading */
  font-style: italic;
  font-size: 55px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-form {
  border: 3px solid var(--secondary-color);
  background-color: rgba(252, 225, 56, 0.8);
  padding: 20px;
  color: var(--secondary-color);
  width: 40%;
  margin: 3.5%;   
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-form h3 {   /* hero form heading */
  font-size: 24px;
  margin: 0;
}

.hero-form p {  /* hero form text */
  margin: 5px 0 15px 0;
}

.hero-form label {  /* hero form input box labels */
  margin: 0 5px;
}

.hero-form button {  /* hero form get running button */
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}

.hero-form button:hover {  /* highlights the button with new color when hovering */
  background-color: var(--tertiary-color);
}

.form-input {   /* hero form input boxes formatting and placement */
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

.form-input:focus { /* makes input background solid white when selected */
  background-color: rgba(255, 255, 255, 1);
  outline: none; /* takes away straight corners around input field */
}

.checkbox-wrapper input, .radio-wrapper input {  /* makes original checkbox and radio buttons invisible */
  opacity: 0;
}

.checkbox-wrapper label, .radio-wrapper label {  /* preps <label> elements so the new buttons can fit inside */
  position: relative;
  left: 10px;
  margin: 10px;
  line-height: 1.6;
}

.checkbox-wrapper label::before, .radio-wrapper label::before { /* displays the custom checkbox and radio buttons */
  content: "";
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid var(--secondary-color);
  position: absolute;
  top: -4px;
  left: -30px;
}

.checkbox-wrapper label::after {   /* makes custom checkmark to show the box has been selected */
  content: "";
  height: 6px;
  width: 14px;
  border-left: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  position: absolute;
  left: -26px;
  top: 1px;
  transform: rotate(-58deg);
}

.radio-wrapper label::before {  /* makes custom radio button a circle instead of square default */
  border-radius: 50%;
}

.radio-wrapper label::after {  /* makes custom radio button selected circle */
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--secondary-color);
  position: absolute;
  left: -29px;
  top: -3px;
/*  background-image: radial-gradient(circle, var(--tertiary-color), var(--secondary-color)); */
}

/* by using the next 2 rules, the custom checkbox and radio buttons will work as they are supposed to */
.checkbox-wrapper input + label::after, .radio-wrapper input + label::after { 
  content: none;
}

.checkbox-wrapper input:checked + label::after, .radio-wrapper input:checked + label::after {
  content: "";
}
/* HERO STYLES END */

/* What We Do style start */
.intro h2 {              /* what we do heading */
  display: inline-block;
}

.intro p {               /* what we do text */
  line-height: 1.7;
  color: var(--tertiary-color);
  width: 80%;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
/* What We do style end */

/* "What You Do" Steps styling begins */
.steps {
  background: var(--primary-color);
}

.step {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--tertiary-color);  /* makes line between each step */
}

.step:last-child {
  border-bottom: none; /* removes line after last step */
}

.step h3 {
  color: var(--secondary-color);
  font-size: 46px;
  flex: 1 30%;
}

.step-info {
  flex: 2 70%;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
}

.step-img {
  flex: 1 12%;
  margin-right: 20px;
}

.step-img img {
  max-width: 100%;
}

.step-text {
  flex: 12;
}

.step-text p {
  color: var(--tertiary-color);
  font-size: 18px;
}

.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: var(--secondary-color);
}
/* "What You Do" Steps styling end */


.section-title {
  font-size: 48px;
  color: var(--secondary-color);
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: var(--primary-color);
}

.secondary-border {
  border-color: var(--tertiary-color);
}

/* Trainer styling begin */
.trainer { 
  margin: 20px;
  background: var(--secondary-color);
  color: var(--primary-color);
  flex: 1; 
}

.trainer-img { 
  position: relative; /*new */
  width: 100%;
  min-height: 300px;
  background-size: cover;
  display: flex;
  padding: 15px;
  align-items: flex-end;
  transition: 0.5s;
  overflow: hidden; /* makes h3 and h4 slide up, but not show over bio */
}

.trainer-img::after {
  content: "";
  height: 100%;
  width: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color)); 
}

.trainer:hover::after {
  background-image: linear-gradient(to bottom, rgb(167, 153, 64, 0.5), rgba(1, 31, 47, 0.5)); 
}

.trainer-1:hover::after, .trainer-2:hover::after, .trainer-3:hover::after { /*THIS makes the animation work */
  opacity: .7;  /* directions say opacity should be 1 */ 
  transition: 0.5s;
  background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));  
} 

.trainer:hover .trainer-img h3, .trainer:hover .trainer-img h4 {
  top: 0;
}

.trainer-img h3 { /* make header visible over gradient */
  position: relative; 
  z-index: 1;
  top: 200px; /*so h3 is moved to the bottom of the card until mouse hovers */
  transition: 0.6s;
  font-size: 28px;
  margin-bottom: 5px; 
}

.trainer-img h4 {  /* make header visible over gradient */
  position: relative;  
  z-index: 1;
  font-size: 22px; 
  top: 200px;  /*so h4 is moved to the bottom of the card until mouse hovers */
  transition: 0.6s;
}  


.trainer-bio {
  padding: 25px;
  line-height: 1.3;
}

.trainer-bio h3 {
  font-size: 28px;
  display: none; /*make the trainer name and role disappear in the bio section */
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
  display: none; /*make the trainer name and role disappear in the bio section */
}

.trainer-bio p {
  font-size: 17px;
}

.trainers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trainer-1 {   /* linear gradient from top to bottom, yellow to navy) */
  background-image: /*linear-gradient(to bottom, rgb(167, 153, 64, 0.5), rgba(1, 31, 47, 0.5)), */ url("../images/trainer-1.jpg");
}

.trainer-2 {
  background-image: /*linear-gradient(to bottom, rgba(252, 225, 56, 0.5), rgba(1, 31, 47, 0.5)), */url("../images/trainer-2.jpg");
}

.trainer-3 {
  background-image: /*linear-gradient(to bottom, rgba(252, 225, 56, 0.5), rgba(1, 31, 47, 0.5)), */url("../images/trainer-3.jpg");
}
/* trainer styles end */

/* service grid styles begin */
.service-grid-container {
  background: lightyellow;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr repeat(2, 4fr);  /* repeat (iterator, size) */
  grid-template-rows: repeat(5, 1fr) 2fr;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1.2rem;
}

.service-grid-item {
  padding: 15px 0;
  border: 2px solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;   
} 

.services {
  background: var(--primary-color);
}

.service-grid-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* specific match */
.service-grid-item.basic {
  grid-column: 2 / span 1;
}

.service-grid-item.both {
  grid-column: 2 / span 2;
}

.service-grid-item.cancel {
  writing-mode: vertical-lr;
  grid-column: 1;
  grid-row: 1 / -1;
  transform: rotate(180deg);
}

.grid-head, .grid-price, .service-grid-item.cancel {
  font-size: 1.5rem;
  font-weight: bold;
}
/* service grid end */

/* REACH OUT STYLES START */
.contact {
  background: var(--secondary-color);
}

.contact h2 {
  color: var(--primary-color);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-info iframe {
  height: 400px;
}

.contact-info div {
  color: white;
}

.contact-info h3 {
  color: var(--primary-color);
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-info a {
  color: var(--primary-color);
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-form input, .contact-form textarea {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75); /* adds a transparent background */
}

.contact-form input, .contact-form textarea {
  background-color: rgba(255, 255, 255, 1); /* makes a focus state for background */
}

.contact-form input:focus, .contact-form textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none; /* takes away the squared corners on focus */
}

.contact-form button {
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

.contact-form button:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
}
/* REACH OUT STYLES END */

/* footer styles start */
footer {
  background: var(--primary-color);
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h2 {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
} 

footer a {
  color: var(--secondary-color);
}
/* footer styles end */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
 header {
     padding-bottom: 0;
     justify-content: center;
     position: relative;
 }

 header h1 {
     width: 100%;
     text-align: center;
 }

 header nav ul {
     margin-top: 20px;
     width: 100%;
     justify-content: center;
 }

 header nav ul li a {
     font-size: 20px;
 }

 .hero-cta, .hero-form {
     width: 100%;
 }

 .hero-cta {
     text-align: center;
 }

 .section-title {
     width: 80%;
 }

 .trainer {
     flex: 0 70%;
 }

 .contact-info iframe{
     flex: 1 100%;
 }

 footer h2, footer div {
     text-align: center;
     width: 100%;
 }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .trainer-img::after, .trainer-img h3, .trainer-img h4 { /* adding this so that gradient and headers don't scroll in for mobile */
      display: none;
  }
  
  .trainer-bio h3, .trainer-bio h4 {
      display: block;
  }

  section {
      padding: 30px 15px;
  }

  .step h3 {
      flex: 1 100%;
      text-align: center;
  }

  .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
  }

  .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
  }

  .step-text {
      flex: 100%;
  }

  .service-grid-container {
      grid-template-columns: 1fr 1fr;
  }

  .service-grid-item.basic {
      grid-column: 1;
  }

  .service-grid-item.both {
      grid-column: 1 / -1;
  }

  .service-grid-item.cancel {
      transform: none;
      writing-mode: unset;
      grid-column: 1 / -1;
      grid-row: -1;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
 .hero-form button {
     width: 100%;
 }
 
 .section-title {
     width: 95%;
 }

 .intro p {
     width: 100%;
 }

 .trainer {
     flex: 0 100%;
 }

 .contact-info {
     text-align: center;
 }

 .contact-info > * {
     flex: 0 100%;
 }

 .contact-form {
     order: 3;
 }
}